[user]
	name = azurata
	email = git@azurata.me
	# signingkey = 
[core]
	precomposeunicode = true
	quotepath = false
	autocrlf = input
[commit]
	# gpgsign = true
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
